.playerCard{
    background-color: black;
    width: 100%;
    height: auto;
}
.home{
    background-color: black;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3ddb_FF3XRAJksGKBGreG1O5LbSJAAE5YzlXlirH6t9LvHLD6Rtcfze7JxtxEJrR9NhP-8BbKG2CAf9jBXf05JSDNDpzOmmPH18ODO_Le1VAvqVwhXKSvjJ7mzfvxdzqt4yE0qlxcTvMyQ3PknCfcYkPw=w1265-h843-no?authuser=0');
    height: 1000px;
    
    
}
.display{
    background-image:url('https://lh3.googleusercontent.com/pw/ACtC-3cqMmb8n2m7aTppmT_IMKqypd-BdyNSz1s2bvGrKhuUK1IZ3hl9vje8v0dDwx_pgUyXjT69BT0tfJHV5yHw0gpEC3g7t8UK0yblm4M9Aap2vYZlm8SJzZZ9hipWJYiDnaE0TnZOxEw6Anlz2ZEeats2Tg=w1262-h843-no?authuser=0');
    height: 100%;
    p{
        font-size: 100px;
    }
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 2rem;
    border: 25px solid black;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    
    
    
}
.holder{
    height:100%
}
.textHolder{
background-color: rgb(66, 66, 66);
height: auto;
padding-top:2rem ;
margin-top:2rem;
padding-left: 1rem;;

    p{
        font-size: 20px;
        color:white
        

    }
}
.ActionArea{
    height: 5in;
    background-color: black;
    
    
}
.speech-bubbled {
	position: relative;
	background: #00aabb;
    border-radius: .4em;
    opacity: 80%;
    z-index: 1000000;
}


.loginBox{
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3cqMmb8n2m7aTppmT_IMKqypd-BdyNSz1s2bvGrKhuUK1IZ3hl9vje8v0dDwx_pgUyXjT69BT0tfJHV5yHw0gpEC3g7t8UK0yblm4M9Aap2vYZlm8SJzZZ9hipWJYiDnaE0TnZOxEw6Anlz2ZEeats2Tg=w1262-h843-no?authuser=0');
  
   
    box-shadow: gray;
    border: 70px solid black;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    
}