@import '../../sass/variable.scss';

.gameCard{
  padding-top: 0rem;
  padding-left: 2rem;
  padding-right: 0rem;
  background-color: black;
 
  

}

.Stats{
    background-color: black;
    p{
        color:red
        ;font-size: 20px;
        
    }
}
.MP{
    background-color: black;
    color: blue;
    
    p{
        color:blue
        ;font-size: 20px;
        
    }
}
.statz{
    p{
        font-size: 13px;
        color:white;
      
        
    }
}
.equipment1{
    p{
        font-size: 13px;
        color:yellow
    }
}
.Equipment{
    p{
        font-size: 20px;
        color:green
    }
}
.Title{
    p{
        font-size: 20px;
        color: white;
    }
}